
*.pyc

*.txt

*.graph

\.ipynb_checkpoints/

UCR_TS_Archive_2015/yoga/

UCR_TS_Archive_2015/Worms/

UCR_TS_Archive_2015/WordsSynonyms/

*.zip

UCR_TS_Archive_2015/Wine/

data/mercedData/tenniscourt/

data/
